.homepage {
  /* background-image: url('../../images/bghomepage.jpg'); */
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  background-position: center;
  background-position-y: -70px;
}
.presentationBox {
  background-image: url("../../images/concert-2527495.jpg");
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  padding: 70px 0 0 0;
}
.smallDescr {
  font-size: 4rem;
  margin: 120px 0 0 0;
}
.welcome {
  margin: 0 0 -42px 8px;
  padding: 0;
  font-size: 2.5rem;
}
.wel {
  margin: 75px auto 0 auto;
  width: 775px;
}
.presentationText {
  color: aliceblue;
  margin: 0 auto;
  width: 80%;
}
.presentationText h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 200px;
  font-size: 7rem;
}
.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  --animate-repeat: 2;
}
.animate__bounce {
  display: inline-block;
  margin: 0 0.5rem;


  animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.animate_button {
  display: inline-block;
  margin: 0 0.5rem;

  animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.presentationText p {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 24px;
  margin-bottom: 0px;
  margin-left: 200px;
  font-size: 3.4rem;
  font-weight: 500;
}
.presentationText .appName {
  color: rgb(238, 238, 248);
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 9rem;
  /* text-align: center; */
}
.presentationBottomButton {
  display: flex;
  justify-content: flex-end;
  bottom: 20px;
  position: absolute;
  right: 20px;

  /* right: 20px; */
}

.presentationInfoBox {
  font-size: 1.1rem;
  margin: 30px 30px 100px 0px;
  text-align: justify;
  bottom: 0px;
}
.myButton {
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 25px;
  color: blueviolet;
  box-shadow: 1px 1px 5px #59716d8a;
  cursor: pointer;
  border: solid 2px blueviolet;
  background: white;
  text-decoration: none;
}
.myButton:hover {
  box-shadow: 2px 2px 10px #6a8c86;
  border: solid 3px blueviolet;
  /* color: white; */
}
.H1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
}
.container {
  width: 100%;
  margin: 60px 0 0 0;
}
.row {
  display: flex;
  height: 600px;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  height: 400px;
  border-radius: 8px;
  transition: 500ms;
  width: 48%;
  margin: 0 auto;
  border: solid 2 blueviolet;
}

.card:hover {
  box-shadow: 2px 2px 40px 0px #4c4a4a;
  height: 450px;
}
.card-header {
  height: 25%;
  background-color: blueviolet;
  top: 0px;
  position: relative;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.card-title {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}

.card-text {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.animate_text {
  display: inline-block;
  margin: 10 0.5rem;

  animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
.animate_text_2 {
  display: inline-block;
  margin: 10 0.5rem;

  animation: lightSpeedInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

/****************** RESPONSIVE ******************/

@media screen and (max-width: 1200px) {
  .presentationBox {
    display: block;
  }
  .presentationImage {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 240px;
    background-position: center;
  }
  .presentationBox {
    /* height: 600px;
    top: 15vh; */
  }
}
@media screen and (max-width: 700px) {
  .presentationBox {
    height: 600px;
    top: 10vh;
    width: 99%;
    left: 0;
  }
  .presentationBottomButton button {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px) {
  .presentationBox {
    height: 700px;
  }
}
