/* 
.iconAuthClose {
	display: flex;
	justify-content: flex-end;
}
.connectionBox{
	background: whitesmoke;
	width: 80%;
	margin: 30% auto;
  min-width: 400px;
  max-width: 800px;
  border-radius: 15px 15px 10px 10px;
  border: solid 2px blueviolet;
  position: relative;
  transition: 100ms;
}
.connectionHead{
	padding: 15px 40px;
	text-align: center;
	color: white;
	background: #8a2be2d4;
	border-radius: 14px 14px 0px 0px;
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 3px;
	margin: -2px;
	border-bottom: solid 2px blueviolet;
}
.connectionBody{
	margin: 50px auto 5px auto;
	width: 80%;
	display: grid;

}
.connectionBody input{
	margin: 3px auto 0px auto;
	height: 35px;
	width: 80%;
	padding: 1px 10px;
	font-size: 1.1rem;
	border-radius: 7px;
	outline: none;
}

input:focus-visible{
	border: solid 4px blueviolet;
}
.connectionFoot{
	padding: 15px 40px;
	text-align: center;
	font-size: 1.0rem;
	font-weight: bold;
	border-top: solid 2px blueviolet;
}
.labelInput{
	display: grid;
  text-align: center;
	margin-bottom: 5px;
}
.labelInputSpan{
	margin: 10px 0px 2px 0px;
}
.myButton{
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 25px;
	color: blueviolet;
  box-shadow: 1px 1px 5px #59716d8a;
  cursor: pointer;
	border: solid 2px blueviolet;
}
.myButton:disabled{
  cursor: default;
	box-shadow: 0px 0px 0px #59716d8a;
}
.myButton:hover{
  box-shadow: 2px 2px 10px #6a8c86;
	border: solid 3px blueviolet;
}
.buttonParent{
	display: flex;
	justify-content: space-around;
	margin: 25px 0px 22px 0px;
	height: 75px;
}
.validateButton{
	width: 135px;
	height: 48px;
	padding: 0px;
	position: relative;
	text-align: center;
}
.footerBoxLink{
	color: blueviolet;
	cursor: pointer;
} */