.listUserParticipate{
	width: max-content;
	font-size: 1.0rem;
	text-decoration: none;
}
.listAllUserParticipate{
	width: max-content;
	font-size: 1.0rem;
	background: none;
}
.userEventList .allUser{
	margin: 35px 10px 0px 0px;
}
.userEventList .elcDescription {
	margin: 0px 0px 30px 0px;
}
.userEventList .elcButton {
	display: flex;
	direction: rtl;
	align-items: flex-end;
	margin: 10px 0 0 0;
}
.userEventList .elcButton {
	display: flex;
	margin: 10px 0 0 0;
	direction: ltr;
	justify-content: space-between;
}
.userEventList .price {
	position: relative;
}