.header {
	position: fixed;
	background: blueviolet;
	top: 0px;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
img.logoimg {
	height: 55px;
	padding: 0px;
	margin: -5px auto 0px auto;
}
.headerLogo {
	text-decoration: none;
	margin: 1px 0px 1px 0px;
	padding-left: 15px;
	display: grid;
	align-items: center;
	color: white;
	font-weight: bold;
}
.logotext {
	font-size: 1.1rem;
	letter-spacing: 5px;
	font-weight: bold;
}
.headerButtons {
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.headerButtons button {
	margin-left: 20px;
	height: 40px;
}
.blur {
	position: fixed;
	background: #0000004f;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	top: 0px;
	left: 0px;
	z-index: 11;
}
.iconAuthClose{
	cursor: pointer;
}
.authButton{
	margin-left: 20px;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px 25px;
	color: white;
	box-shadow: 1px 1px 5px #59716d8a;
	cursor: pointer;
	height: min-content;
	align-self: center;
	text-decoration: none;
}
.authButton:hover{
	box-shadow: 2px 2px 10px #6a8c86;
	border: solid 2px white;
}
.EventList{
}
.userCircle{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: blueviolet;
	border: solid 3px midnightblue;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-right: 10px;
	align-self: center;
}
.userCircle:hover{
}
.circleLogout {
	display: flex;
	align-items: center;
	margin: 0px 10px;
}

svg.logout:hover {
	height: 27px;
	width: 27px;
}
/****************** RESPONSIVE ******************/
