.adminDash {
	margin: 70px 0 0 0;
}
.userListTitle {
	font-size: 1.9rem;
	text-align: center;
	margin: 45px 0 12px 0;
}
.userCard{
	margin: 5px 0px;
  background: #f5f5f5aa;
  padding: 20px;
  border-radius: 15px;
	font-size: 1.4rem;
}
.userCard:hover{
	background: #f2f2f2;
}
.userCard .colorElement {
    font-weight: bold;
    color: blueviolet;
}
.userCard .addressCard{
	display: flex;
	/* font-size: 1.0rem; */
	justify-content: flex-start;
	padding: 10px 0;
}
.userCard .addressCard .phoneNumber{
	margin-left: 20px;
}
.roleButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.roleButton .buttons {
	display: flex;
}
.desactivate{
	color: #ff0000bb;
	border-color: #ff0000bb;
	width: auto;
}
.desactivate:hover{
	color: red;
	border-color: red;
}
.roleButton .showEventList{
	width: auto;
	text-decoration: none;
}
.usernameCard {
	text-align: center;
	/* font-size: 1.1rem; */
	color: blue;
	padding: 10px;
}
.roleButton button:active {
	background: white;
}
.activate{
	width: auto;
	color: blueviolet;
	border-color: blue;
}
.activate:hover{
	width: auto;
	color: blue;
	border-color: blueviolet;
}
.eventDesableCard {
	background: whitesmoke;
	width: 100%;
	min-width: 400px;
	max-width: 1100px;
	border-radius: 15px 15px 10px 10px;
	border: solid 1px blueviolet;
	min-height: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.eventDesableCard .title{
	font-size: 1.5rem;
	color: blueviolet;
	text-align: center;
	margin-top: 10px;
}
.eventDesableCard .buyButton{
	width: 120px;
	color: green;
	border: solid 2px green;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px 25px;
	box-shadow: 1px 1px 5px #59716d8a;
	cursor: pointer;
	transition: border 100ms;
	height: min-content;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.eventDesableCard .buyButton:hover{
	box-shadow: 2px 2px 10px #6a8c86;
	border: solid 3px green;
}
.elcButtonEventDesable {
	display: flex;
	margin: 10px;
	justify-content: space-between;
}
.eventDesableCard .title {
	font-size: 1.5rem;
	color: blueviolet;
	text-align: center;
	margin: 20px 20px 0 20px;
}
.eventDesableCard .description {
	height: 75%;
	/* display: flex; */
	align-items: center;
	font-size: 1.2rem;
	margin: 20px 20px;
}
.userEventList .addressCard {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.userEventList .phoneNumber{
	margin: 0px;
}
/* .userEventList . */